#########################
########## IDE ##########
#########################

## ECLIPSE ##

.project
.classpath
.metadata
org.*
bin

## IDEA ##

*.iml
*.ipr
*.iws
.idea
out

#############################
########## IDE END ##########
#############################

##########################
########## MISC ##########
##########################

build
.gradle
.DS_Store
run

gradlew
gradlew.bat
build.gradlew
forge-1.8-11.14.3.1450-changelog.txt
forge-1.8-11.14.1.1334-changelog.txt
build.gradle

gradlew
logs
eclipse

exclude

##########################
########## MISC ##########
##########################
